<div class="row-fluid">
	<div class="span12">
		<ul class="nav nav-pills">
			<li class="<%= current_page?(admin_mixes_path) ? "active" : ""%>">
		    <%= link_to "All", admin_mixes_path %>
		  </li>
		  <li class="<%= current_page?(published_admin_mixes_path) ? "active" : ""%>">
		    <%= link_to "Published", published_admin_mixes_path %>
		  </li>
		  <li class="<%= current_page?(unpublished_admin_mixes_path) ? "active" : ""%>">
		    <%= link_to "Unpublished", unpublished_admin_mixes_path %>
		  </li>
		</ul>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="mixes">
			<%= render partial: "list_item", collection: @mixes %>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<%= paginate @mixes %>
	</div>
</div>