<div class="row-fluid">
	<div class="span12">
		<h2>Processing</h2>
		<p>
			<% if @mix.processed? %>
				<span class="label label-success">Processing complete</span>
			<% else %>
				<% if @mix.processing? %>
					<span class="label label-warning">Processing...</span>
				<% else %>
					<span class="label label-error">Processing failed or is queued for processing.</span>
				<% end %>
			<% end %>
		</p>
		<hr/>
		<h2>
			Basic Info
		</h2>
		<h4>ID</h4>
		<p><%= @mix.id %></p>
		<h4>Collection</h4>
		<p><%= @mix.mix_collection.name %></p>
		<h4>Caption</h4>
		<p><%= @mix.caption %></p>
		<h4>Performers</h4>
		<p><%= @mix.performers.collect { |p| p.name }.join(', ') %></p>
		<h4>Soundcloud URL</h4>
		<p><%= link_to @mix.sc_url, @mix.sc_url, target: '_blank' %></p>
		<h4>Soundcloud Stream URL</h4>
		<p><%= link_to @mix.streamable_url, @mix.streamable_url, target: '_blank' %></p>
		<h4>Soundcloud ID</h4>
		<p><%= link_to @mix.sc_id %></p>
		<h4>Short URL</h4>
		<p><%= link_to @mix.short_url, @mix.short_url, { target: '_blank' } %></p>
		<h4>Debuted</h4>
		<p><%= time_tag @mix.debuted_at %></p>
		<h4>Created</h4>
		<p><%= time_tag @mix.created_at %></p>
		<hr/>

		<div class="well">
			<%= link_to "Edit", edit_admin_mix_path(@mix), class: 'btn btn-small' %>
			<%= link_to "Delete", edit_admin_mix_path(@mix), method: :delete, confirm: "Are you sure?", class: 'btn btn-small btn-danger' %>
		</div>

	</div>
</div>