<p><%= @mix.title %></p>

<p>
	Duration: <%= @mix.audio.duration %>
	<br/>
	Sample Rate: <%= @mix.audio.sample_rate %>
	<br/>
	Bitrate: <%= @mix.audio.bitrate %>
	<br/>
	Tag Meta: <%= @mix.audio.tag_meta %>
</p>

 